@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<style>
    th {
        width: 15em;
        text-align: left;
    }
    td {
        text-align:left;
    }
</style>

<h2>Books</h2>

<form>
    <p>
        Title: <input type="text" asp-for="SearchTitle" />
        Author: <input type="text" asp-for="SearchAuthor" />
        <input type="submit" value="Search" />        
    </p>
</form>


<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Checked out by</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
            </thead>
            @foreach(var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.CheckedOutBy</td>
                    <td>@book.CheckedOutUntil</td>
                    <td>    
                        <form method="post">
                            @if (book.CheckedOutBy != null && book.CheckedOutBy.Length > 0)
                            {
                                <input asp-for="BookAction" type="submit" value="Return" />
                            }
                            else
                            {
                                <p style="width: 20em">
                                    <input asp-for="BookAction" type="submit" value="Check Out" />

                                    <select asp-for="BookCheckedOutBy">
                                        @foreach (var cust in Model.Customers)
                                        {
                                            <option value="@cust.Id">@cust.Name</option>
                                        }
                                    </select>
                                </p>
                            }
                            <input asp-for="BookIdCheckedOut" type="hidden" value="@book.Id" />
                        </form>
                    </td>
                </tr>
            }
    </table>
</div>

