@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<style>
    th {
        width: 15em;
        text-align: left;
    }
    td {
        text-align:left;
    }
</style>

<h2>Books</h2>

<form>
    <p>
        Title: <input type="text" asp-for="SearchTitle" />
        Author: <input type="text" asp-for="SearchAuthor" />
        <input type="submit" value="Search" />
    </p>
</form>


<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Checked out by</th>
                <th>Due Date</th>
            </tr>
            </thead>
            @foreach(var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.CheckedOutBy</td>
                    <td>@book.CheckedOutUntil</td>
                </tr>
            }
    </table>
</div>

